<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

    <bean id="applicationManage" class="org.example.ApplicationManager">
<!--        Constructor Injection-->
<!--        <constructor-arg ref="notepad"></constructor-arg>-->
        
<!--        Dependency injection-->
        
        <property name="application" ref="calculator" />
    </bean>
    <bean id="calculator" class="org.example.Calculator">
    </bean>
    <bean id="notepad" class="org.example.Notepad">
    </bean>

</beans>